Build
Binaries
Content
DerivedDataCache
Intermediate
Platforms
Saved
.DS_Store
.clang-format
.vscode
.vs
.vsconfig
.ignore
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.code-workspace